html {
  font: 16px/1.6 "Open Sans", Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #333;
  padding: 0;
  margin: 0;
}

.site-header {
  overflow: hidden;
  background-color: #222;
  padding: 0.7em 0;
  width: 100%;
}

.site-header nav {
  margin: 0 auto;
  max-width: 900px;
}

.site-header img {
  height: 40px;
  width: 120px;
  vertical-align:  middle;
}

.site-header a {
  line-height: 40px;
  display: inline-block;
  color: #f9f9f9;
  padding: 0 0.4em;
  text-decoration: none;
}

.site-header a:not(:first-child) {
  margin-left: 20px;
}

.site-content {
  margin: 0 auto;
  max-width: 900px;
}

.site-content .container {
  margin: 0 auto;
  padding: 20px;
}
